.home {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .div-do-search {
    margin-top: 1vh;
  }
  
  .add-video {
    margin-top: 1vh;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }
  