.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Full viewport height */

}

.video-page-item {
  width: 100%;
  margin: 3vh 0 30px 20vh;
}

.video-player-page {
  width: 100%;
}
/*880d490*/
.video-player-page video {
  border-radius: 10px;
  width: 70em;
  height: 60vh;
  object-fit: cover;
}

.video-details-page {
  margin-top: 10px;
}

.div-do-search {
  margin-top: 1vh;
}

.main-content {
 gap:30vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.views-time{
  margin-top: 8px;
  font-size:10px;
  font-weight: 600;
}
.video-img-dir-page{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-img-page{
  width:40px;
  height: 40px;
  border-radius: 50%;
}
.video-title-page{
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 700;
}
.video-bar {
  max-height: 80vh;
  margin-top: 20px;
  border-radius: 10px;
}
.video-comments-page
{
  width: 90%;
}
.like-dislike-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-right: 130px;
  width: 110px;
  padding: 5px 10px 5px 10px;
  gap: 15px; /* Add some space between the buttons */
}

.like-dislike-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-dislike-button span {
  margin-left: 5px; /* Add some space between the icon and the text */
}

.separator {
  width: 1px;
  height: 20px; /* Match the height of the icons */
  background-color: #ddd;
}

